@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  background-color: rgb(240, 240, 240);
  padding: 100px 0;

}
.page {
  &.home{
    .page-title{
      .span{

      }
    }
    .example-form{
      .example-full-width{
        width: 85%;
      }
    }
  }
}
